<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="get" action="/leaderboard">
    <input type="text" name="keyword" placeholder="검색">
    <button type="submit">검색</button>
</form>

<!-- 리더보드 리스트 -->
<ul>
    <li th:each="lb, stat : ${leaderboard}">
        <span th:text="${stat.index + 1}"></span>.
        <b th:text="${lb.username}"></b>
        — 점수: <span th:text="${lb.best_score}"></span>
        — 제출: <span th:text="${lb.submit_count}"></span>회
        — 최근: <span th:text="${#temporals.format(lb.last_submit_time, 'yyyy-MM-dd HH:mm')}"></span>
    </li>
</ul>



</body>
</html>