.sidebar {
  grid-area: sidebar;
  position: sticky;
  top: 0;
  height: 100vh;
  background: var(--nav);
  border-right: 1px solid var(--border);
  padding: 12px 12px 16px;

  .nav-group {
    margin-top: 8px;
  }

  .nav-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 12px;
    border-radius: 10px;
    cursor: pointer;
    color: var(--text);
    text-decoration: none;
    font-weight: 600;

    svg {
      width: 18px;
      height: 18px;
    }

    &:hover {
      background: var(--badge);
    }
  }

  .nav-create {
    min-width: 130px;
    height: 50px;
    margin: 8px 0 12px;
    background: var(--primary);
    color: #fff;
    border-radius: 10px;
    padding: 8px 15px;
    font-weight: 800;
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    width: max-content;

    &:hover {
      background: var(--primary-hover);
    }
  }
}