<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>리더보드 추가 - 리스트 테스트용</h1>
<form action="/leaderboard/add" method="post">

    <div>
        <label> compname : </label><span th:text="${compname}">${compname}</span><br/>
        <input name="compname" />
    </div>
    <div>
        <label> username : </label><span th:text="${username}">${username}</span><br/>
        <textarea name="username"></textarea>
    </div>
    <div>
        <label> best_score : </label><span th:text="${best_score}">${best_score}</span><br/>
        <textarea name="best_score"></textarea>
    </div>
    <div>
        <label> submit_count : </label><span th:text="${submit_count}">${submit_count}</span><br/>
        <textarea name="submit_count"></textarea>
    </div>

    <div>
        <button>리더보드추가</button>
    </div>
</form>

</body>
</html>